.message-header {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
}

.message-body {
  font-size: 1.5rem;
}

.em {
  font-size: 1.75rem;
  color: $danger;
  font-weight: bolder;

}

.index-button {
  margin: $gutter;
  padding: $gutter * 2;
  font-size: 1.5rem;
}
