{{#bulma-message}}
  <div class="message-header">Toyota</div>
  <div class="message-body">
    <div class="content is-text-right">
      {{bulma-button label="Add New Car" isDanger=true}}
    </div>
  </div>
{{/bulma-message}}
