<div class="container">
  {{!-- Somehow gave table a heading by wrapping it in a message? --}}
  {{#bulma-message header="Check Out Our Manufacturers!" body=model.messageBody}}
{{#bulma-table isBordered=true isStriped=true}}
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Country</th>
      <th># of Models</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {{#each model as |brand|}}
    <tr>
      <td>{{brand.name}}</td>
      <td>{{brand.country}}</td>
      <td>2</td>
      <td>See More</td>
    </tr>
    {{/each}}
  </tbody>



{{/bulma-table}}
  {{/bulma-message}}
</div>


{{outlet}}
